/les1/BuratinoAndApples/.idea/
/les1/.idea
/les1/AgeOfUniverse/.idea
/les1/AgeOfUniverse/out
/les1/BuratinoAndApples/idea
/les1/BuratinoAndApples/out
/les1/DiscountsOnShirts/.idea
/les1/DiscountsOnShirts/out
/les1/DownPayment/.idea
/les1/DownPayment/out
/les1/EmployeesInProject/.idea
/les1/EmployeesInProject/out
/les1/SarumanAndLannisters/.idea
/les1/SarumanAndLannisters/out
/les1/TravelTime/.idea
/les1/TravelTime/out
/les1/WaterInGlass/.idea
/les1/WaterInGlass/out
/les1/AgeOfUniverse/*.iml
/les1/BuratinoAndApples/*.iml
/les1/DiscountsOnShirts/*.iml
/les1/DownPayment/*.iml
/les1/EmployeesInProject/*.iml
/les1/SarumanAndLannisters/*.iml
/les1/TravelTime/*.iml
/les1/WaterInGlass/*.iml
