/les1/BuratinoAndApples/.idea/
/les1/.idea
/les1/AgeOfUniverse/.idea
/les1/AgeOfUniverse/out
/les1/BuratinoAndApples/idea
/les1/BuratinoAndApples/out
/les1/DiscountsOnShirts/.idea
/les1/DiscountsOnShirts/out
/les1/DownPayment/.idea
/les1/DownPayment/out
/les1/EmployeesInProject/.idea
/les1/EmployeesInProject/out
/les1/SarumanAndLannisters/.idea
/les1/SarumanAndLannisters/out
/les1/TravelTime/.idea
/les1/TravelTime/out
/les1/WaterInGlass/.idea
/les1/WaterInGlass/out
/les1/AgeOfUniverse/*.iml
/les1/BuratinoAndApples/*.iml
/les1/DiscountsOnShirts/*.iml
/les1/DownPayment/*.iml
/les1/EmployeesInProject/*.iml
/les1/SarumanAndLannisters/*.iml
/les1/TravelTime/*.iml
/les1/WaterInGlass/*.iml
/les2/Perfect weight/.idea
/les2/Perfect weight/target
/les2/Perfect weight/*.iml
/les2/times-of-day/.idea
/les2/times-of-day/target
/les2/times-of-day/*.iml
/les2/times-of-day-with-error-events/.idea
/les2/times-of-day-with-error-events/target
/les2/times-of-day-with-error-events/*.iml
/les2/greeting/.idea
/les2/greeting/target
/les2/greeting/*.iml
/les3/simple-cycle/.idea
/les3/simple-cycle/*.iml
/les3/simple-cycle/target
/les3/simple-amount/.idea
/les3/simple-amount/*.iml
/les3/simple-amount/target
/les3/strange-amount/.idea
/les3/strange-amount/*.iml
/les3/strange-amount/target
